@model MalekServer3.Models.ViewModel.ForgotPasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>فراموش کردن رمز</title>

    <script src="~/Scripts/Jquery/jquery.validate.min.js"></script>
    <script src="~/Scripts/Jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <!-- UIkit CSS -->
    <link href="/Styles/UIKit/uikit.min.css" rel="stylesheet" />
    <!-- Project CSS -->
    <link href="~/Styles/Entry.css" rel="stylesheet" />
    <link href="/Styles/.min.css" rel="stylesheet" />

    <!-- UIkit JS -->
    <script src="/Scripts/UIKit/uikit.min.js"></script>
    <script src="/Scripts/UIKit/uikit-icons.min.js"></script>
    <!-- Jquery -->
    <script src="/Scripts/Jquery/jquery-3.5.1.min.js"></script>
    <!--Project JS-->
</head>
<body>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form uk-card">

            <h3 class="center uk-margin-remove-top uk-margin-remove-bottom">فراموش کردن رمز</h3>

            @Html.ValidationSummary(true, "", new { @class = "uk-text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "uk-input" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "uk-text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="column">
                    <input type="submit" value="ارسال رمز"
                           class="uk-button uk-button-primary center uk-margin-medium-top" />
                </div>
            </div>
        </div>
    }


</body>
</html>
