@model IEnumerable<MalekServer3.Models.ObjectClass.OcProduct>

@{
    ViewBag.Title = "تائید نهایی";
}

<div class="clipped check-out column uk-card uk-padding uk-margin-top uk-margin-bottom uk-margin-auto">
    <a href="/UserPanel/Home/Cart" class="uk-icon uk-position-absolute" uk-icon="icon:  arrow-left ; ratio: 2"></a>

    <img class="uk-width-small uk-margin-auto" src="../../Resources/Vector/Logo.svg" />

    <h4 class="uk-margin-auto-left uk-margin-remove-bottom">اتمام پرداخت</h4>
    <p>
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
        از صنعت چاپ، و با استفاده از طراحان گرافیک است،
        چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است، و برای شرایط فعلی
        تکنولوژی مورد نیاز، و کاربردهای
        متنوع با هدف بهبود ابزارهای کاربردی
        می باشد، کتابهای زیادی در شصت و سه درصد گذشته
        حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد،
        تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
        الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در
        این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
        راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز
        شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
        اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
    </p>

    <label class="uk-margin-top uk-margin-small-bottom">سبد خرید شما</label>

    <content id="cartTable" class="cart">
        <table class="history uk-table uk-table-striped uk-margin-small-top">
            <thead>
                <tr>

                    <th>
                        ردیف
                    </th>
                    @*<th>
                            عکس
                        </th>*@
                    <th>
                        کد
                    </th>
                    <th>
                        نام
                    </th>
                    <th>
                        دسته بندی
                    </th>
                    <th>
                        فی
                    </th>
                    <th>
                        تعداد
                    </th>
                    <th>
                        قیمت
                    </th>

                </tr>
            </thead>
            <tbody id="tBody">
                @{
                    int i = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@i</td>
                        @{
                            i += 1;
                        }

                        <td>@item.id</td>
                        <td>@item.Name</td>
                        <td>@item.Catagory.Name</td>
                        <td>@item.Price.ToString("#,0")</td>
                        <td>@item.Count</td>
                        <td>@item.Sum.ToString("#,0")</td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    @*<td></td>*@
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                    <td>@Model.Sum(p => p.Count)</td>
                    <td>
                        @Model.Sum(p => p.Price * p.Count).ToString("#,0") تومان
                    </td>
                </tr>
            </tfoot>
        </table>
    </content>

    <label class="AddDiscount uk-margin-top uk-margin-small-bottom">کد تخفیف</label>
    <div class="row">
        <button onclick="AddDiscount()" class="AddDiscount uk-button uk-button-primary uk-margin-auto-left uk-margin-right">
            <span>اعمال</span>
            @*<span class="uk-icon" uk-icon="icon: refresh"></span>*@
        </button>
        <input class="AddDiscount uk-input uk-width-small " id="DiscountName" type="text" placeholder="..." value="" />
    </div>

    <label class="uk-margin-top uk-margin-small-bottom">هزینه ارسال</label>
    <div class="row uk-label  uk-margin-auto-left uk-padding-small">
        <span class="uk-margin-small-right uk-margin-auto-left">تومان</span>
        @{
            //var Maliyat = Model.Sum(p => p.Price * p.Count) * 109 / 100;
            var Maliyat = Model.Sum(p => p.Price * p.Count).ToString("#,0");
        }

        <span id="FinalPrice"> @Model.Sum(p => p.Price * p.Count).ToString("#,0") </span>
        <input type="hidden" id="FinalPricehid" name="FinalPricehid" value="@Model.Sum(p => p.Price * p.Count)" />
    </div>

    <hr class="uk-divider-icon uk-margin-top uk-margin-bottom" />
    <form action="/UserPanel/Pardakht/Payment" method="post">
        <input type="hidden" id="Discount" name="Discount" value="0" />
        <input type="hidden" id="ClientId" name="ClientId" value="@User.Identity.Name.Split('|')[1]" />
        <input type="hidden" id="SumFactor" name="SumFactor" value="@Model.Sum(p => p.Price * p.Count)" />
        <div class="row">
            <a href="/Home/Index" class="uk-margin-auto-left uk-margin-top uk-button uk-button-danger uk-margin-right ">برگشت</a>
            <button  class="uk-margin-top uk-button uk-button-primary">درگاه خرید</button>
        </div>
    </form>
   
</div>

<div class="space"></div>

@section Scripts{
    <script src="~/Scripts/UserPanel/Checkout.js"></script>
  
}



